<ul class="slidemenu-nav">
  <a id="slidemenu-close" href="#" class="btn btn-md pull-right toggle"><i class="fa fa-chevron-circle-left fa-2x"></i></a>
  <li>
    <a href="{{@blog.url}}">
      <i class="fa fa-home"></i> Home
    </a>
  </li>
  <li><a href="{{@blog.url}}/videos">
    <i class="fa fa-television"></i>Videos</a>
  </li>
  <li><a href="{{@blog.url}}/about">
    <i class="fa fa-beer"></i> About</a>
  </li>
  <li>
    <a href="{{@blog.url}}/rss/">
      <i class="fa fa-rss"></i> Subscribe
    </a>
  </li>
  <li class="slidemenu-divider"></li>
  <li>
    <a href="https://twitter.com/gangularamya" target="_blank">
      <i class="fa fa-twitter"></i> @gangularamya
    </a>
  </li>

  <li>
    <a href="https://twitter.com/prashanthmadi" target="_blank">
      <i class="fa fa-twitter"></i> @prashanthmadi
    </a>
  </li>


</ul>
