/* ==========================================================================
  15.  HighlightJs
       Custom styles for HighlightJs
   ========================================================================== */

.hljs {
  white-space: pre;
  word-wrap: normal;
  padding: 0;
  background: transparent;
}

code, tt {
    padding: .2rem .3rem .1rem;
    border: 1px solid #d8e0e4;
    border-radius: 2px;
    color: #c25;
    white-space: pre-wrap;
    font-size: .8em;
    line-height: 1em;
}