/* ==========================================================================
  15.  HighlightJs
       Custom styles for HighlightJs
   ========================================================================== */

.hljs {
    background: #f7fafb;
}

code, tt {
    padding: 3px;
    font-size: 0.8em;
    border: 1px solid #eee;
    border-radius: 4px;
    background: #fafafa;
    white-space: pre-wrap;
    line-height: 1em;
}